<mat-card class="calendar-card">

  <div class="header" style="text-align: center;">
    <h2 style="text-align: center;">Календар подій</h2>

    <button 
      style="margin-bottom: 10px;"
      *ngIf="household && isOwner" 
      mat-raised-button 
      color="primary" 
      (click)="openAddEventDialog()">
      Додати подію
    </button>
  </div>

  <!-- Рендеримо таблицю тільки після того, як є household -->
  <table mat-table [dataSource]="events" class="mat-elevation-z8" *ngIf="household && events.length > 0">
    <!-- Назва події -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Назва</th>
      <td mat-cell *matCellDef="let event">{{ event.title }}</td>
    </ng-container>

    <!-- Дата -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Дата</th>
      <td mat-cell *matCellDef="let event">{{ event.date | date:'yyyy-MM-dd' }}</td>
    </ng-container>

    <!-- Опис -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Опис</th>
      <td mat-cell *matCellDef="let event">{{ event.description }}</td>
    </ng-container>

    <!-- Призначені учасники -->
    <ng-container matColumnDef="assigned">
      <th mat-header-cell *matHeaderCellDef>Призначено</th>
      <td mat-cell *matCellDef="let event">
        {{ getAssignedNames(event.assignedTo) }}
      </td>
    </ng-container>

    <!-- Дії -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Дії</th>
      <td mat-cell *matCellDef="let event">

        <!-- Показувати тільки власнику -->
        <ng-container *ngIf="household && isOwner">
          <button mat-icon-button color="primary" (click)="editEvent(event)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="warn" (click)="deleteEvent(event)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>


      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <!-- Якщо список подій порожній -->
  <div class="empty" *ngIf="household && events.length === 0" style="text-align: center;">
    <p>Немає жодної події</p>
    <p>Натисніть «Додати подію», щоб створити першу.</p>
  </div>

</mat-card>
